# Static Analysis
pre-commit
# Configuration
python-dotenv
pydantic-settings
# API
fastapi
uvicorn
# DB
pymongo
# Test
pytest
httpx
# Profile
memory_profiler
line_profiler
# Dependency
# dependency-injector==4.41.0
